/* Apply styles to the entire table element */
table {
  width: 100%; /* Make the table full width */
  border-collapse: collapse;
}

/* Style table headers */
th {
  @apply text-left px-4 py-2 mb-3 font-medium font-bold text-black bg-orange-lighter-dark tracking-wider ;

}

th:first-child {
  border-left-style: solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
th:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

/* Style table rows (zebra striping for even/odd rows) */
tr {
  @apply border-b border-white bg-blue-100 hover:bg-blue-200;
}

/* Style table cells */
td {
  @apply px-4 py-2 ;
}

td:first-child {
  border-left-style: solid;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
td:last-child {
  border-right-style: solid;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.bg-orange-lighter-dark {
  background-color: #d1d6fd;
}

/* Korjaa Download-napin hover-tila */
button {
  background-color: #3b82f6;
  color: white;
  padding: 8px 16px;
  border-radius: 50px; /* Pyöristetyt reunat */
  box-shadow: 0 4px 6px rgba(59, 130, 246, 0.5);
  font-weight: bold;
  cursor: pointer;
  margin: 0 5px;
}

button:hover {
  background-color: #2563eb;
}

button:active {
  opacity: 0.75;
}

/* Modal-ikkunan sisältö */
.image-modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

/* Modal-ikkunan kuva */
.full-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  cursor: pointer;
}

/* Poistetaan siirtokurssi kokonaan otsikkoalueelta ja muista ei-klikattavista elementeistä */
.p-dialog-header,
.p-dialog-content {
  cursor: default !important;
}

/* Palautetaan kursori klikattavilla elementeillä */
.p-dialog-header .p-dialog-titlebar-close,
button,
img.full-image {
  cursor: pointer;
}

/* Palautetaan normaali kursori muilla alueilla */
.p-dialog-header:hover,
.p-dialog-content:hover {
  cursor: default;
}
