<div *ngIf="show" class="fixed top-0 left-0 w-full h-full bg-gray-900 bg-opacity-75 flex justify-center items-center z-50">
  <div class="bg-white rounded-lg shadow-md px-8 py-5 w-3/4 md:w-1/2">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-bold">{{ title }}</h2>
      <button type="button" class="text-gray-400 hover:text-gray-600 focus:outline-none" (click)="onCancel()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <form [formGroup]="editForm">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label
            for="username"
            class="form-label block mb-2 text-sm font-medium text-gray-700"
            >Username</label
          >
          <input
            type="text"
            class="form-control block w-full px-3 py-2 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50"
            id="username"
            formControlName="username"
          />
        </div>
        <div class="col-md-6 mb-3">
          <label
            for="email"
            class="form-label block mb-2 text-sm font-medium text-gray-700"
            >Email</label
          >
          <input
            type="email"
            class="form-control block w-full px-3 py-2 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50"
            id="email"
            formControlName="email"
          />
        </div>
      </div>
    </form>
    <div class="flex justify-end mt-4">
      <button
        type="button"
        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md shadow-md focus:outline-none ml-2"
        (click)="saveUser()"
      >
        Save
      </button>
